.header{
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.header-left{
    width: 300px;
    display: flex;
    align-items: center;
}
.header-left i{
    width: 30px;
}
.header-left .logo{
    width:100px;
}
.header-center{
    flex-grow: 1;
}
.header-center .search{
    position: relative;
    width: 40%;
}
.header-center .search-btn{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.header-center .search-btn:hover{
    color: #F9B208;
    cursor: pointer;
}
.header-center .search-box{
    padding: 10px;
    background: #e4e4e4;
    border: none;
    border-radius: 5px;
    outline:none;
    width: 95%;
}
.header-right{
    display:flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
/* > * 은 또 뭐야 */
.header-right .user-info > *{
    margin-left: 20px;
}
.header-right .user-info{
    display: flex;
    align-items: center;
}
.header-right .avatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.header-right .login-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #FFB344;
    color:white;
}
.header-right .login-btn:hover{
    background: #F9B208;
}


